{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password reset</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper3">
      <div class="title-text">
        <h1> Password Reset Sent. </h1>
      </div>
      <div class="form-container">
        <p> We have emailed you instructions for setting your password. You should receive the email shortly.</p>
      </div>
    </div>
  </body>
</html>
